{#
  Copyright 2019 Kevin Kuehl

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}
resources:
- name: {{ env["name"] }}
  type: container.v1.cluster
  properties:
    zone: {{ properties["zone"] }}
    cluster:
      name: {{ env["name"] }}
        initialClusterVersion: {{ properties["initialClusterVersion"] }}
        network: {{ properties["network"] }}
        subnetwork: {{ properties["subnetwork"] }}
        clusterIpv4Cidr: {{ properties["clusterIpv4Cidr"] }}
        nodePools:
        - name: default-pool
          initialNodeCount: {{ properties["initialNodeCount"] }}
          config:
            machineType: n1-standard-1
            diskSizeGb: 100
            oauthScopes:
            - https://www.googleapis.com/auth/devstorage.read_only
            - https://www.googleapis.com/auth/logging.write
            - https://www.googleapis.com/auth/monitoring
            - "https://www.googleapis.com/auth/servicecontrol"
            - "https://www.googleapis.com/auth/service.management.readonly"
            - "https://www.googleapis.com/auth/trace.append"
          management:
            autoUpgrade: true
            autoRepair: true
